*{
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(198, 136, 36);
}

.principal{
    width: 95%;
    height: auto;
    margin: auto;
    padding: 15px;
    display: inline-block;
    background-color: brown;

}


    
